## {{ ansible_managed }}

deb {{ ubuntu_source1 }} {{ ubuntu_version }}  main restricted universe multiverse
deb {{ ubuntu_source2 }} {{ ubuntu_version }}  main restricted universe multiverse

# Updates
deb {{ ubuntu_source1 }} {{ ubuntu_version }}-updates main restricted universe multiverse
deb {{ ubuntu_source2 }} {{ ubuntu_version }}-updates main restricted universe multiverse

# Backports!!
deb {{ ubuntu_source1 }} {{ ubuntu_version }}-backports  main restricted universe multiverse
deb {{ ubuntu_source2 }} {{ ubuntu_version }}-backports  main restricted universe multiverse

# Security
deb {{ ubuntu_source1 }} {{ ubuntu_version }}-security  main restricted universe multiverse
deb {{ ubuntu_security }} {{ ubuntu_version }}-security main restricted universe multiverse

# docker
deb [arch={{ arch }}] {{ docker_source }} {{ ubuntu_version }} stable
